{% extends 'blog/base.html' %}

{% block content %}
<h1> This is the front page.</h1>
<img alt="" src="https://m.media-amazon.com/images/I/615q2g10fML._SX258_BO1,204,203,200_.jpg" onload="this.onload='';setCSMReq('af');if(typeof addlongPoleTag === 'function'){ addlongPoleTag('af','desktop-image-atf-marker');};setCSMReq('cf');" class="a-dynamic-image image-stretch-horizontal frontImage" id="imgBlkFront" data-a-dynamic-image="{&quot;https://m.media-amazon.com/images/I/615q2g10fML._SY457_BO1,204,203,200_.jpg&quot;:[500,459],&quot;https://m.media-amazon.com/images/I/615q2g10fML._SX258_BO1,204,203,200_.jpg&quot;:[260,239]}" style="max-width: 260px; max-height: 239px; position: relative; top: 0px; left: 0px; width: 200px; height: 183.846px;">
    {% for post in posts %}
    <div class="post block">
        <h2 class+"subtitle">{{ post.title }}</h2>
        <small>Posted at {{ post.date_added }}</small>
        <p>{{ post.intro }}</p>
        <a href="{% url 'post_detail' post.slug %}">Read more</a>
    </div>
    {% endfor %}
{% endblock %}
